@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #7c67ff;
	width: 5px;
	border-radius: 8px;
}

.bodyOverflowHidden {
	overflow: hidden;
}
